.btn-primary:focus {
  outline: none;
  box-shadow: none;
}
.pointer {
  cursor: pointer;
}
.App {
  text-align: center;
}
.flex-end-center-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.customtoggle {
  border: 0;
  background: none;
}
