.btn-primary:focus {
  outline: none;
  box-shadow: none;
}
.pointer {
  cursor: pointer;
}
.App {
  text-align: center;
}
.flex-end-center-align {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.customtoggle {
  border: 0;
  background: none;
}
.float-right {
  float: right;
}

/* overwriting Bootstrap*/
.dropdown-toggle::after {
  display: none !important;
}
.todo-name {
  margin-left: -0.5rem;
}
